superPara.csv
encs_north/*
encs_south/*
para/*
t.py
y.py
wheel.py
TODO.txt
*.sw
__pycache__/*
.DS_Store
/AV_class_functions/__pycache__/*


encs_south_selected/
encs_west_selected/
encs/
img/
img_old/
testing/
superPara_img.csv

/AIS_processing_venv
/AV_class_functions/__pycache__